& > div.header {
  position: absolute;
  top: 0; left: 0; right: 0; height: 80px;
  padding-top: 5px;
  width: 100% ;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
}

& > div.day_pickers {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  & > div {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 300px;
    margin-left: 50%;
    & > div[data-widget-view] {
      position: absolute;
      margin-left: -190px;
      &:nth-child(1) {
        opacity: 0.5;
        top: -480px;
        * {
          color: #ddd !important
        }
      }
      &:nth-child(2) {
        top: -160px;
        z-index: 2;
      }
      &:nth-child(3) {
        opacity: 0.5;
        top: 160px;
        * {
          color: #ddd !important
        }
      }
    }
  }
}